{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
{% if idValue %}
	{% set id = 'id=' ~ idValue %}
{% else %}
	{% set id = null %}
{% endif %}
<section class="section" {{ style }} {{ id }}>
	<div class="container">
		<div class="row center-xs">
			<div class="col col-xs-12 text-center section-header">
				<h2>{{ heading }}</h2>
				{{ text }}
			</div>
			{% for person in persons %}
			<div class="col col-xs-12 col-md-6 col-lg-4">
				<div class="card people">
					<div class="card-header-wrapper">
						{% import 'macros/transformed-image' as transformedImage %}
						{{ transformedImage.image(person.image.one, person.personTitle, "card-img-large", [
								{ width: 640 },
								{ width: 360 },
								{ width: 180, jpegQuality: 65 },
								{ width: 80, jpegQuality: 65 }], "(max-width: 679px) 80px, 180px" ) }}
						<div class="flex middle-xs between-xs space-md-up text-left">
							<div>
								<h4>{{ person.personTitle }}</h4>
								<h5 >{{ person.subtitle }}</h5>
							</div>
							{% if person.linkedin %}
							<a href="{{ person.linkedin }}" target="_blank"><img class="social-icon" src="static/img/linkedin.svg" alt="{{ person.personTitle }} linkedin profile"/></a>
							{% endif %}
						</div>
					</div>
					<p class="small text-left-xs people-description">{{ person.text }}</p>
					<button class="btn hidden-md-up" onclick="peopleClickHandler(event)" aria-label="View full profile">View full profile</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
