<section class="section">
	<div class="container">
		<div class="row">
			<div class="col col-xs-12 text-center space-xs-up">
				<h2>{{ heading }}</h2>
				{{ text }}
				{% if faqs|length %}
					{% for faq in faqs %}

						{% if loop.first %}
							{% set classes = {
								activeClass : 'active',
								expandedClass : 'expanded-accordion'
							} %}
						{% else %}
							{% set classes = {
								activeClass : '',
								expandedClass : ''
							} %}
						{% endif %}
						<div class="col col-xs-12 accordion">
							<div class="card text-left">
								<h5>{{faq.title}}</h5>
								<button class="btn btn-accordion btn-toggle btn-secondary {{  classes.activeClass }}" onclick="accordionClickHandler(event)" aria-label="Expand accordion panel"><span>+</span></button>
								<p class="small accordion-text {{  classes.expandedClass }}">{{faq.text}}</p>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</section>
