{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
<section class="section" {{ style }}>
	<div class="container">
		<div class="row">
			<div class="col col-xs-12 text-center section-header">
				<h2>{{ heading }}</h2>
				{{ text }}
			</div>
			{% if faqs|length %}
				{% for faq in faqs %}
					<div class="col col-xs-12 accordion">
						<div class="card text-left">
							<h5>{{faq.faqTitle}}</h5>
							<button class="btn btn-accordion btn-toggle btn-secondary " onclick="accordionClickHandler(event)" aria-label="Expand accordion panel"><span>+</span></button>
							<div class="small accordion-text ">{{faq.text}}</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
