{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
{% if idValue %}
	{% set id = 'id=' ~ idValue %}
{% else %}
	{% set id = null %}
{% endif %}
<section class="section" {{ style }} {{ id }}>
	<div class="container">
		{% set allFeatures = featureList %}
		{% for row in allFeatures %}

		{% if not loop.first %}
			{% set borderClass = 'feature-list-border' %}
		{% elseif loop.first %}
			{% set borderClass = '' %}
		{% endif %}

		<div class="row middle-xs section-inner {{ borderClass }}">
			<div class="col col-sm-12 col-md-4">
				<div class="img-responsive space-sm space-xs">
					{% import 'macros/transformed-image' as transformedImage %}
					{{ transformedImage.image(row.image.one, row.image.one.title, "", [
							{ width: 1800 },
							{ width: 1080 },
							{ width: 720 },
							{ width: 360, jpegQuality: 65 },
							{ width: 200, jpegQuality: 65 }], "(max-width: 679px) 98vw, (max-width: 1200px) 30vw, 360px" ) }}
				</div>
			</div>
			<div class="col col-sm-12 col-md-8">
				<div class="text-padding">
					<h3 class="">{{ row.heading }}</h3>
					<p>{{ row.text }}</p>
					{% if row.href.one %}
						{% if row.href.one.type == 'externalLink' %}
							<a href="{{ row.href.one.href }}" target="_blank">{{ row.href.one.linkTitle }}</a>
						{% elseif row.href.one.type == 'internalLink' %}
							<a href="{{ row.href.one.href.one.url }}{{ row.href.one.idLink ?  '#' ~ row.href.one.idLink : ''}}">{{ row.href.one.linkTitle }}</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
