{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
{% if idValue %}
	{% set id = 'id=' ~ idValue %}
{% else %}
	{% set id = null %}
{% endif %}
<section class="section" {{ id }}>
	<div class="section-inner" {{ style }}>
		<div class="container">
			<div class="row center-xs middle-xs text-center">
				<div class="col col-xs-12 section-header">
					<h2>{{ heading }}</h2>
					{{ text }}
				</div>
				{% for image in images %}
				<div class="customer-logo col col-xs-6 col-md-3">
					{% import 'macros/transformed-image' as transformedImage %}
					{{ transformedImage.image(image, image.title, "", [
							{ width: 600 },
							{ width: 400 },
							{ width: 200, jpegQuality: 65 },
							{ width: 150, jpegQuality: 65 }], "(max-width: 470px) 45vw, 200px" ) }}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
