{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
{% if idValue %}
	{% set id = 'id=' ~ idValue %}
{% else %}
	{% set id = null %}
{% endif %}
<section class="section" {{ id }}>
	<div class="section-inner" {{ style }}>
		<div class="container">
			<div class="row center-xs middle-xs text-center">
				<div class="col col-xs-12 section-header">
					<h2>{{ heading }}</h2>
					{{ text }}
				</div>
				{% set images = images.all() %}
				{% for image in images %}
				<div class="customer-logo col col-xs-6 col-md-3">
					<img src="{{ image.url }}" alt="{{ image.title }}" />
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
