{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
{% if idValue %}
	{% set id = 'id=' ~ idValue %}
{% else %}
	{% set id = null %}
{% endif %}
<section class="section" {{ style }} {{ id }}>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="bg-lightgrey flex testimonal-box middle-md">
					<div class="testimonial-image-wrapper">
						{% import 'macros/transformed-image' as transformedImage %}
						{{ transformedImage.image(image, image.title, "testimonial-image", [
								{ width: 600 },
								{ width: 400 },
								{ width: 200, jpegQuality: 65 },
								{ width: 150, jpegQuality: 65 }], "(max-width: 679px) 48px, 120px" ) }}
					</div>
					<div>
						<h4>“{{ quote }}”</h4>
						<p class="small">- {{ person }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
