{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
{% if idValue %}
	{% set id = 'id=' ~ idValue %}
{% else %}
	{% set id = null %}
{% endif %}
<section class="section" {{ style }} {{ id }}>
	<div class="container">
		<div class="row middle-xs center-xs">
			<div class="col col-xs-12 col-md-6 text-left-md">
				{% if jumboHeaderLink is empty %}
					{% set spacing = ' space-xs space-sm space-md' %}
				{% else %}
					{% set spacing = '' %}
				{% endif %}
				<div class="text-padding {{ spacing }}">
					<h1>{{ heading }}</h1>
					{{ text }}
					{% if jumboHeaderLink %}
						{% if jumboHeaderLink.href.one.internalHref.one.url() is defined %}
						<a class="btn btn-large space-xs space-sm" aria-label="{{ jumboHeaderLink.href.one.linkTitle }}" href="{{ jumboHeaderLink.href.one.internalHref.one.url() }}{{ jumboHeaderLink.href.one.idLink ?  '#' ~ jumboHeaderLink.href.one.idLink : ''}}">{{ jumboHeaderLink.href.one.linkTitle }}</a>
						{% elseif jumboHeaderLink.href.one.externalHref is defined %}
						<a class="btn btn-large space-xs space-sm" aria-label="{{ jumboHeaderLink.href.one.linkTitle }}" href="{{ jumboHeaderLink.href.one.externalHref }}" target="_blank">{{ jumboHeaderLink.href.one.linkTitle }}</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
			{% if image %}
			<div class="col col-xs-12 col-md-6">
				<img class="img-responsive img-full-width" src="{{ image.url }}" alt="{{ image.title }}" />
			</div>
			{% endif %}
		</div>
	</div>
</section>
