{% if backgroundColor is defined %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
<section class="section">
	<div class="section-inner"  {{ style ? style : null }}>
		<div class="container">
			<div class="row center-xs text-center">
				<div class="col col-xs-12">
					<h2>{{ heading }}</h2>
					{{ text }}
						<a href="{{ link }}" class="btn btn-large">{{ linkText }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
