{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
<section class="section" {{ style }}>
	<div class="container">
		<div class="row">
			<div class="col col-xs-12 text-center section-header">
				<h2>{{ heading }}</h2>
				<p>{{ text }}</p>
			</div>
			<div class="col col-xs-12 col-md-6 col-lg-4 col-lg-offset-2">
				<div class="card flex center list-pricing">
					<div>
						<h4>{{ pricings[0].titel }}</h4>
						<p class="price h1">${{ pricings[0].price }}</p>
						<p class="small price-caption">{{ pricings[0].text }}</p>
						<a href="{{ pricings[0].href }}" class="btn btn-secondary space-xs-up">{{ pricings[0].linkTitle }}</a>
						<ul class="text-left-xs price-list list-unstyled">
							{% for baseFeature in baseFeatures %}
								<li>{{ baseFeature.feature }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="col col-xs-12 col-md-6 col-lg-4">
				<div class="card flex center list-pricing">
					<div>
						<h4>{{ pricings[1].titel }}</h4>
						<p class="price h1">${{ pricings[1].price }}</p>
						<p class="small price-caption">{{ pricings[1].text }}</p>
						<a href="{{ pricings[1].href }}" class="btn space-xs-up">{{ pricings[1].linkTitle }}</a>
						<ul class="text-left-xs price-list list-unstyled">
							{% for baseFeature in baseFeatures %}
								<li>{{ baseFeature.feature }}</li>
							{% endfor %}
						</ul>
						<hr class="extra-line">
						<ul class="text-left-xs price-list list-unstyled">
							{% for premiumFeature in premiumFeatures %}
								<li>{{ premiumFeature.feature }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
