{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
<section class="section" {{ style }}>
	<div class="container">
		<div class="row center-xs section-header">
			<div class="col col-xs-12 text-center">
				<h2>{{ heading }}</h2>
				{{ text }}
			</div>
		</div>
		<div class="row center-xs cards">
			{% for row in quotes %}
			<div class="col col-xs-12 col-md-6 col-lg-4 flex between-xs">
					<div class="card quote text-left-xs between-xs flex flex-column">
						<h5 class="space-xs-up">{{row.quote}}</h5>
						<div class="flex start-xs middle-xs">
							<img class="img-fluid" src="{{ row.image.one().url }}" alt="{{ row.image.one().title }}"/>
							<div>
								<p class="small">{{ row.personName }}</p>
								<p class="small">{{ row.organisation }}.rs</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
