{% if backgroundColor is defined %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
<section class="section" {{ style ? style : null }}>
	<div class="container">
		<div class="row center-xs section-header">
			<div class="col col-xs-12 text-center">
				<h2>{{ heading }}</h2>
				{{ text }}
			</div>
		</div>
		<div class="row center-xs cards">
			{% set mySuperTableBlockQuery = craft.superTable.blocks()
				.fieldId(quotes.fieldId) %}

			{# Fetch the Super Table blocks #}
			{% set superTableBlocks = mySuperTableBlockQuery.all() %}

			{# Display their contents #}
			{% for block in superTableBlocks %}
			<div class="col col-xs-12 col-md-6 col-lg-4 flex between-xs">
					<div class="card quote text-left-xs between-xs flex flex-column space-xs-up">
						<h5 class="space-xs-up">{{block.quote}}</h5>
						<div class="flex start-xs middle-xs">
							<img class="img-fluid" src="{{ block.image.one().url }}" alt="{{ block.image.one().title }}"/>
							<div>
								<p class="small">{{ block.personName }}</p>
								<p class="small">{{ block.organisation }}.rs</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
