{% cache %}
{# Create an entry query with the 'section' and 'limit' parameters #}
{% set mainMenu = craft.entries.section('mainMenu').all() %}
<!-- <div class="navbar-overlay"></div> -->
<nav class="main-menu closed" id="navbar">
	<div class="container">
		<div class="row between-xs middle-xs">
			<div class="col col-auto-lg navbar-mobile">
				<div class="brand">
					<a href="/" ><img src="static/img/logo.svg" alt="Cobiro logo"/></a>
				</div>
				<button class="menu-toggle btn" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</div>
						<div class="col col-auto-lg main-menu-inner">
							<ul class="list-inline">
								{% nav menuItem in mainMenu %}
									{% if menuItem.level == 1 %}
									{% set url = menuItem.linkedEntry.one() ? menuItem.linkedEntry.one().url : menuItem.externalUrl %}
										<li {{ menuItem.hasDescendants() ? 'class="submenu-parent"' }}>
											<a class="{{ url == entry.url ? 'active' }} {{ menuItem.hasDescendants() ? 'has-submenu' }}"
											href="{{ menuItem.linkedEntry.one() ? menuItem.linkedEntry.one().url : menuItem.externalUrl }}"
											{{ menuItem.openInNewWindow ? 'target="_blank"' : '' }}>{{ menuItem.title }}</a>
											{% if menuItem.hasDescendants() %}
											<div class="submenu">
												<div class="container">
													<div class="row">
														{% set subMenuItemsFetchedLevelTwo = menuItem.descendants.level(2).all()%}
														{% for subMenuItems in subMenuItemsFetchedLevelTwo %}
															<div class="col col-xs-12 col-lg-3 {{ subMenuItems.hasDescendants() ? 'has-subsubmenu'}}">

																{% if subMenuItems.linkedEntry.one.url is defined %}
																	{% set subLink = subMenuItems.linkedEntry.one.url %}
																{% elseif  subMenuItems.externalUrl is defined %}
																	{% set subLink = subMenuItems.externalUrl %}
																{% else %}
																	{% set subLink = subMenuItems.externalLink %}
																{% endif %}
																<a class="submenu-title" href="{{ subLink }}" {{ subMenuItems.openInNewWindow ? 'target="_blank"' }}>
																		{% if subMenuItems.icon %}
																		{% import 'macros/transformed-image' as transformedImage %}
																		{{ transformedImage.image(subMenuItems.icon.one(), subMenuItems.icon.one().title, "submenu-icon", [
																			{ width: 150, jpegQuality: 65 },
																			{ width: 100, jpegQuality: 65 },
																			{ width: 50, jpegQuality: 65 }], "50px" ) }}
																	{% endif %}
																	{{ subMenuItems.title }}</a>
																{% if subMenuItems.hasDescendants() %}
																	<div class="subsubmenu">
																		<ul class="list-unstyled">
																			<li><a class="hidden-lg hidden-xl" href="{{ subLink }}" {{ subMenuItems.openInNewWindow ? 'target="_blank"' }}>{{ subMenuItems.title }}</a></li>
																	{% set subMenuItemsFetchedLevelThree = subMenuItems.descendants.level(3).all()%}
																	{% for subSubMenuItems in subMenuItemsFetchedLevelThree %}

																	{% if subSubMenuItems.linkedEntry.one.url is defined %}
																		{% set subSubLink = subSubMenuItems.linkedEntry.one.url %}
																	{% elseif  subSubMenuItems.externalUrl is defined %}
																		{% set subSubLink = subSubMenuItems.externalUrl %}
																	{% else %}
																		{% set subSubLink = subMenuItems.externalLink %}
																	{% endif %}
																		<li><a href="{{ subSubLink }}" {{ subSubMenuItems.openInNewWindow ? 'target="_blank"' }}>{{ subSubMenuItems.title }}</a></li>
																	{% endfor %}
																</ul>
																</div>
																{% endif %}
															</div>
														{% endfor %}
													</div>
												</div>
											</div>
											{% endif %}
										</li>
									{% endif %}
								{% endnav %}
							</ul>

							{% set mainMenuCTA = craft.entries.section('mainMenuCta').all() %}
							<div class="main-menu-cta">
								{% for CTA in mainMenuCTA %}
								<a href="{{ CTA.externalLink ? CTA.externalLink : CTA.internalLink}}" class="btn {{ CTA.primaryButton ? '' : 'btn-secondary' }}" target="{{ CTA.newWindow ? '_blank' : '_self'}}">{{ CTA.title }}</a>
								{% endfor %}
							</div>
						</div>

		</div>
	</div>
</nav>
{% endcache %}
