
{# Create an entry query with the 'section' and 'limit' parameters #}
{% set mainMenu = craft.entries.section('mainMenu').level(1).all() %}
<div class="navbar-overlay"></div>
<nav class="main-menu closed" id="navbar">
	<div class="container">
		<div class="row between-xs middle-xs">
			<div class="col col-auto-lg">
				<div class="container-fluid">
					<div class="row start-xs middle-xs">
						<div class="col col-auto-lg">
							<div class="brand">
								<a href="/" ><img src="includes/img/logo.svg" alt="Cobiro logo"/></a>
							</div>
							<button class="menu-toggle btn" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar top-bar"></span>
								<span class="icon-bar middle-bar"></span>
								<span class="icon-bar bottom-bar"></span>
							</button>
						</div>
						<div class="col col-auto-lg main-menu-inner">
							<ul class="list-inline">
								{% for menuItem in mainMenu %}
									{% if menuItem.level == 1 %}
									{% set url = menuItem.linkedEntry.one() ? menuItem.linkedEntry.one().url : menuItem.externalUrl %}
										<li class="">
											<a class="{{ url == entry.url ? 'active' }} {{ menuItem.hasDescendants() ? 'has-submenu' }}"
											href="{{ menuItem.linkedEntry.one() ? menuItem.linkedEntry.one().url : menuItem.externalUrl ? '#' : '#'}}"
											{{ menuItem.openInNewWindow ? 'target="_blank"' : '' }}>{{ menuItem.title }}</a>
											{% if menuItem.hasDescendants() %}
											<div class="submenu">
												<div class="container">
													<div class="row">
														{% set subMenuItemsFetchedLevelTwo = menuItem.descendants.level(2).all()%}
														{% for subMenuItems in subMenuItemsFetchedLevelTwo %}
															<div class="col col-xs-12 col-lg-3">
																{% if subMenuItems.icon %}
																	<img class="submenu-icon" src="{{ subMenuItems.icon.one().url }}" alt="{{ subMenuItems.icon.one().title }}"/>
																{% endif %}
																<a class="submenu-title" href="#">{{ subMenuItems.title }}</a>
																{% if subMenuItems.hasDescendants() %}
																	<ul class="list-unstyled">
																	{% set subMenuItemsFetchedLevelThree = subMenuItems.descendants.level(3).all()%}
																	{% for subSubMenuItems in subMenuItemsFetchedLevelThree %}
																		<li><a href="#">{{ subSubMenuItems.title }}</a></li>
																	{% endfor %}
																</ul>
																{% endif %}
															</div>
														{% endfor %}
													</div>
												</div>
											</div>
											{% endif %}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-auto-lg main-menu-cta">
				<button class="btn btn-secondary" aria-label="Log in">Log in</button>
				<button class="btn" aria-label="Sign up free">Sign up free</button>
			</div>
		</div>
	</div>
</nav>
