<nav class="main-menu closed">
	<div class="container">
		<div class="row between-xs middle-xs">

			<div class="col col-auto-lg">
				<div class="container-fluid">
					<div class="row start-xs middle-xs">
						<div class="col col-auto-lg">
							<div class="brand">
								<a href="/" ><img src="{{url('includes/img/logo.svg')}}" alt="Cobiro logo"/></a>
							</div>
							<button class="menu-toggle btn" aria-controls="primary-menu" aria-label="Menu"
								aria-expanded="menuClosed">
								<span class="icon-bar top-bar"></span>
								<span class="icon-bar middle-bar"></span>
								<span class="icon-bar bottom-bar"></span>
							</button>
						</div>
						<div class="col col-auto-lg main-menu-inner">
							<ul class="list-inline">
								<li class=""><a href="#" class="has-submenu">Why Cobiro?</a><div class="submenu"></div></li>
								<li class="">
									<a href="#" class="active has-submenu">Solutions</a>

									<div class="submenu">
										<div class="container">
											<div class="row">
												<div class="col col-xs-12 col-lg-3">
													<img class="submenu-icon" src="{{url('includes/img/pen.svg')}}" alt="ikon"/>
													<a class="submenu-title" href="#">Create</a>
													<ul class="list-unstyled">
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
													</ul>
												</div>
												<div class="col  col-xs-12 col-lg-3">
													<img class="submenu-icon" src="{{url('includes/img/pen.svg')}}" alt="ikon"/>
													<a class="submenu-title" href="#">Connect</a>
													<ul class="list-unstyled">
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#" >Search</a></li>
													</ul>
												</div>
												<div class="col col-xs-12 col-lg-3">
													<img class="submenu-icon" src="{{url('includes/img/pen.svg')}}" alt="ikon"/>
													<a class="submenu-title" href="#">Automate</a>
													<ul class="list-unstyled">
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
													</ul>
												</div>
												<div class=" col col-xs-12 col-lg-3">
													<img class="submenu-icon" src="{{url('includes/img/pen.svg')}}" alt="ikon"/>
													<a class="submenu-title" href="#">Report</a>
													<ul class="list-unstyled">
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
														<li><a href="#">Search</a></li>
													</ul>
												</div>
											</div>
										</div>
									<div>
								</li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Company</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col col-auto-lg main-menu-cta">
				<button class="btn btn-secondary">Log in</button>
				<button class="btn">Sign up free</button>
			</div>

		</div>
	</div>

</nav>
